<!DOCTYPE html>
<html lang="en">

<head>
  <title>About</title>
  <link rel='icon' href='/img/weather.png'>
  <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
  <div class="main-content">
    {{>header}}
    <img src="/img/marla.jpg" class="portrait" />
  </div>
  {{>footer}}
</body>

</html>